# Normalize text file line endings to LF on checkin
# and prevent conversion to CRLF on checkout.
* text=auto eol=lf

# Text files
*.php text
*.css text
*.js text
*.md text

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
