<?xml version="1.0"?>
<ruleset name="Genesis-Simple-Share">
  <description>The coding standards for Genesis Simple Share plugin.</description>

  <arg name="extensions" value="php" />
  <arg value="s" />

  <file>.</file>

  <exclude-pattern>/(vendor|languages|assets|node_modules)/*</exclude-pattern>
  <exclude-pattern>/index\.php</exclude-pattern>

  <!-- Include the WordPress-Core standard. -->
  <rule ref="WordPress-Core">
    <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
	<exclude name="WordPress.WP.I18n.MissingTranslatorsComment" />
	<exclude name="WordPress.NamingConventions.ValidVariableName.NotSnakeCase" />
  </rule>
</ruleset>
