// Brand colors.
$twitter:     #09b0ed !default;
$facebook:    #3d5a98 !default;
$googlePlus:  #dd4c39 !default;
$pinterest:   #cb2127 !default;
$linkedin:    #035a87 !default;
$stumbleupon: #eb4923 !default;
$youtube:     #cc181e !default;

//brand icons
$twitter_i:     '\f202';
$facebook_i:    '\f204';
$googlePlus_i:  '\f218';
$pinterest_i:   '\f209';
$linkedin_i:    '\f207';
$stumbleupon_i: '\f223';
